* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: url(./assets/pokemon-bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Courier, monospace;
  height: 100vh;
}

.app-content {
  margin-left: 24vw;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: red;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: rgb(201, 18, 18);
}
::-webkit-scrollbar-track {
  background: #FFCB05;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #FFCB05;
}
::-webkit-scrollbar-track:active {
  background: #d3a900;
}
::-webkit-scrollbar-corner {
  background: transparent;
}